<!DOCTYPE html>
<!--/* 
	Information transmises par le contrôleur :
	enCours    : Liste des requêtes en cours.
*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
    <title>Ecran d'appel des clients</title>
    <!-- On charge JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script>
      function onMessage(serviceRequest) {
        // Quand SGFA signale une nouvelle requête, on recharge la page.
        location.reload();
      }
      connect(onMessage);
    </script>
  </head>

  <body>
    <h1>Surveillez votre numéro</h1>
    <div th:each="requete : ${enCours}">
      Ticket n° <span th:text="${requete.numero}">36</span> au guichet
      <span th:text="${requete.guichetAffecte}">4</span>
    </div>
  </body>
</html>
