<!DOCTYPE html>
<!--/* 
	Information transmises par le contrôleur :
	guichet    : le guichet ouvert
*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
    <title>Guichet '[[${guichet?.numeroGuichet}]]'</title>
    <!-- On charge JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:if="${guichet ne null}" th:inline="javascript">
      var numeroGuichet = [[${guichet.numeroGuichet}]];
    </script>
    <script th:if="${guichet eq null}" th:inline="javascript">
      var numeroGuichet = -1;
    </script>
    <script th:inline="javascript">
      $(document).ready(// Exécuté à la fin du chargement de la page
      	function () {
      		/* Marche pas sur Chrome ?
      		$(window).on("beforeunload", function () {
      			return "Voulez-vous vraiment vous déconnecter ?";
      		});
      		$(window).on("unload", function () {
      			disconnect();
      			return "Au revoir !";
      		});
      		*/
      		$("#appel").click(appel);
      		$("#finService").click(finService);
      		$("#logout").click(closeWindow);
      		function onMessage(serviceRequest) {
      			if (
      				(numeroGuichet === serviceRequest.guichetAffecte) &&
      				(serviceRequest.finService === null)
      			) {
      				$("#statut").text("En service, ticket n° "
      					+ serviceRequest.numero
      					+ " (" + serviceRequest.type + ")");
      				$("#finService").prop('disabled', false);
      				$("#finService").text("Fin de service, ticket n° " + serviceRequest.numero);
      				$("#appel").prop('disabled', false);
      			}
      		}
      		connect(onMessage);
      	}
      );

      function appel() {
      	$.ajax({
      		url: "/employee/available", // On appelle la méthode du contrôleur
      		data: { deskNumber: numeroGuichet }, // On passe le numero du guichet
      	}).done(function () {
          // Si on met le code ici, la notification risque d'arriver avant le callback
        }).fail(function () {
          alert("Erreur : impossible de contacter le serveur");
        });
        // TODO : race condition entre le callback AJAX et la notification
        $("#appel").prop('disabled', true);
        $("#statut").text("En attente client")
        $("#finService").prop('disabled', false);
        $("#finService").text("Fin de service clientèle");
      }

      function finService() {
      	$.ajax({
      		url: "/employee/busy", // On appelle la méthode du contrôleur
      		data: { deskNumber: numeroGuichet }, // On passe le numero du guichet
      	}).done(function () {
          $("#statut").text("Occupé")
          $("#finService").prop('disabled', true);
          $("#appel").prop('disabled', false);
        }).fail(function () {
          alert("Erreur : impossible de contacter le serveur");
        });
      }

      function closeWindow() {
      	disconnect();
      	$.ajax({
      		url: "logout", // On appelle la méthode du contrôleur
      		data: { deskNumber: numeroGuichet }, // On passe le numero du guichet
      	}).done(function () {
      		window.close()
      	});
      }
    </script>
  </head>

  <body>
    <div th:if="${guichet ne null}">
      <h3>
        Appel des clients - Guichet
        <span th:text="${guichet.numeroGuichet}">4</span>
      </h3>
      <div>
        Bonjour
        <span th:text="${guichet.ouvertPar.name}">Georges Untel</span> (<span
          th:text="${guichet.ouvertPar.habilitePro} ? 'habilité pro' : 'non habilité pro'"
          >habilité pro</span
        >)<br />
      </div>
      <fieldset>
        <legend>Votre statut : <span id="statut">Occupé</span></legend>
        <hr />
        <button id="appel">Appeler le prochain client</button>
        <button id="finService" disabled="disabled">
          Fin de service clientèle
        </button>
        <button id="logout">Se déconnecter</button>
      </fieldset>
    </div>
    <div th:if="${guichet eq null}">
      <h1>Erreur - Employé déjà connecté, ou guichet déjà occupé</h1>
    </div>
  </body>
</html>
