<!DOCTYPE html>
<!--/* 
    Simule l'impression d'un ticket
	Information transmises par le contrôleur :
	ticket : Un ticket
*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
    <title>Service impossible</title>
  </head>

  <body>
    <h1>Bienvenue au bureau de poste</h1>
    <div>
      Vous avez demandé 'Guichet pro'<br />
      Aucun employé habilité n'est disponible, merci de ré-essayer plus tard<br />
    </div>
  </body>
</html>
