<!DOCTYPE HTML>
<!--/* 
    Simule l'impression d'un ticket
	Information transmises par le contrôleur :
	ticket : Un ticket
*/-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <title>Prenez votre ticket</title>
 </head>

<body>
    <h1>Bienvenue au bureau de poste</h1>
    <div>
        Vous avez demandé : <span th:text="${ticket.type}">Retrait d'instances</span><br>
        Vous serez appelé par le numéro : <span th:text="${ticket.numeroAppel}">321</span><br>
    </div>
</body>

</html>